*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(16, 31, 48);
}

h1{
  color: white;
}

h2{
  color: chartreuse;
}

h3{
  color: aqua;
}

p{
  color: yellow;
}
/*classe dinamica */
.red-title{
  font-size: 50px;
  color: red;
  background-color: #000;
}