*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-shadow: #000 1px 1px;
}

.App{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../assets/4k.avif");
    background-size: cover;
    background-position: center;
}

.container{
    width: 450px;
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 10px;
}

.container h1{
    text-align: center;
    font-size: 30px;
    color: #fff;
}

.inputs-field{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px auto;
}

.inputs-field input{
    height: 100%;
    width: 100%;
    background-color: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px;
}

.inputs-field input::placeholder{
    color: #fff;
}

.inputs-field .icon{
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #fff;
}

.container .recall-forget{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.recall-forget label{
    color: #fff;
}

.recall-forget input{
    margin-right: 5px;
}

.recall-forget a,
.signup-link p a{
    color: #fff;
    text-decoration: none;
}

.recall-forget a:hover,
.signup-link p a:hover{
    text-decoration: underline;
}

.container button{
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    text-shadow: none;
}

.container .signup-link{
    font-size: 15px;
    text-align: center;
    margin: 20px 0 10px;
}

